@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Garrett Lance Portfolio</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="~/Assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="~/Assets/css/stylish-portfolio.css" rel="stylesheet">
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shCoreEmacs.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeEmacs.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>
<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav" style="color:#f5f5f5">
            <a id="menu-close" href="#" class="btn btn-dark btn-lg pull-right toggle">
                <i class="fa fa-times"></i>
            </a>
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#top">Welcome</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#top">Home</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#about">About</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#services">Javascript Exercises</a>
            </li>
            
            <li>
                <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close" ).click();>Contact</a>
            </li>
        </ul>
    </nav>
    <!-- Header -->
    <header class="header" id="top">

        <div class="text-vertical-center">
            <h1 style="color:#f5f5f5"> Garrett Lance</h1>
            <h1>

                <a href="" class="typewrite" data-period="2000" style="color:#f5f5f5" data-type='[ "Web Developer", "Backend Aficionado", " " ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <a href="#about" style="margin-top:60px;font-size:29px" class="btn btn-dark btn-lg js-scroll-trigger">More About Me </a>

        </div>


    </header>
    <!-- About -->
    <section id="about" class="about" style="background-color:black; color:#f5f5f5 ">
        <div class=" jumbotron" style="background-color:black">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h2>A Little About Me</h2>
                        <p class="lead">
                           
                            Hello my name is Garrett Lance, I am located in Greensboro, NC, currently attending school at CoderFoundry. I have always had a have a passion for computers growing up, so learning how to build robust and secure applications was the next step for me. I work hard bringing my customers the speed and accuracy of a professionl team of develpers but with a personal touch that can only come from somebody working close with the customer to address every need.  I enjoy spending time with my family and being active in my community. I Specialize in...
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3">

                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-hashtag fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>C#</strong>
                                        </h4>
                                    </div>
                                    <div class="col-md-3">

                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-html5 fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>HTML 5</strong>
                                        </h4>

                                    </div>

                                    <div class="col-md-3">

                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-code fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>JavaScript</strong>
                                        </h4>
                                    </div>
                                    <div class="col-md-3">

                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-columns fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>Bootstrap</strong>
                                        </h4>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-css3 fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>CSS3</strong>
                                        </h4>

                                    </div>

                                    <div class="col-md-4">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-server fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>SQL</strong>
                                        </h4>

                                    </div>

                                    <div class="col-md-4">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-database fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4>
                                            <strong>ASP.NET/MVC</strong>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                    <div class=" col-md-6 pull-right img-responsive ">
                        <img class="img-fluid img-portfolio text-center"
                             src="~/Assets/img/FullSizeRender.jpg" />
                    </div>
                </div>
              <button class="nav-link btn btn-default" style="width:150px;height:50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px" data-toggle="modal"  data-target="#myModal">Resume</button>

                <div id="myModal" class="modal fade" role="dialog" style="color:black">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <button type="button" class="close" style="margin-left:700px" data-dismiss="modal">&times;</button>
                            <div class="modal-header"  style="background-color:black;color:white">
                                <h4 class="modal-title">Resume</h4>
                               
                            </div>
                         
                            <div class="modal-body" style="text-align:center">

                                <img src="~/Assets/img/Garrett Lances Resume-page-001.jpg" class="img-responsive" /> 
                                <img src="~/Assets/img/Garrett Lances Resume-page-002.jpg" class="img-responsive" />
                                <br />
                            </div>

                            <a href="~/Assets/img/Garrett Lances Resume.pdf" download="GarrettLanceResume" class=" btn btn-dark" >Download My Resume</a>  
                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                        </div>
                    </div>







                </div>
        </div>
        
    </section>
    <!-- /.container -->
    <section id="portfolio" class="portfolio" style="background-color:black">
        <h2> My Stand Alone Projects</h2>
        <hr class="small">
        <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Third Slide -->
                <div class="item active">
                    <!-- Slide Background -->

                    <img src="~/Assets/img/website.jpg" />class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left" style="background-color:rgba(0, 0, 0, 0.7)">
                                <h1 data-animation="animated zoomInRight" >Ecommerce/Shopping Cart App</h1>
                                <p data-animation="animated fadeInLeft">An Example Of A Working Shopping Cart System That Can Be Used For Ecommerce Models.</p>

                                <a href="http://glance-shopping.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg" data-animation="animated fadeInRight">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Second Slide -->
                <div class="item">
                    <!-- Slide Background -->

                    <img src="~/Assets/img/rick-tap-110126.jpg"  alt="Bootstrap Touch Slider" class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">Financial Portal</h1>
                        <p data-animation="animated lightSpeedIn"> Financial Portal, Coming Soon</p>

                        @*<a href="" target="_blank" class="btn btn-primary btn-lg" data-animation="animated fadeInDown">Coming Soon</a>*@
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Third Slide -->
                <div class="item">
                    <!-- Slide Background -->

                    <img src="~/Assets/img/Untitled.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">Anchored Core</h1>
                        <p data-animation="animated fadeInRight">A Complex Blog and Featured Story Segments</p>

                        <a href="http://www.anchoredcore.com/" target="_blank" class="btn btn-primary btn-lg" data-animation="animated fadeInRight">View Website</a>
                    </div>
                </div>
                <!-- End of Slide -->

            </div><!-- End of Wrapper For Slides -->
            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> <!-- End  bootstrap-touch-slider Slider -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div id="services" class="text-vertical-center">
            <h1>Javascript Exercises</h1>
        </div>
    </aside>
    <!--End Of Callout-->
    <section style="background-color:black">

        <!--Modal Buttons-->
        <div class="container text-center img-responsive" style="background-color:black">
            <div class="row img-responsive">
                <div class="col-md-6 img-responsive">

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary btn-lg fa-fw fa-circle"  id="myBtn10" title="Palindrome"  style="  margin:10px; height: 300px; width: 500px;" data-toggle="popover" data-trigger="hover" data-content=" A program that determines whether a word is a Palindrome (the same backward as it is forward –“radar” for example). Display the result to the user." data-placement="top">Palindrome</button>

                </div>

                <div class="col-md-6 img-responsive">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-danger btn-lg" title="Factorial" id="myBtn2" style=" margin:10px; height: 300px; width: 500px;" data-toggle="popover" data-trigger="hover" data-backdrop="black" data-content="A program that calculates the factorial of a number.
                            The factorial of a non-negative integer is the product of all positive integers less than or equal to n. (i.e.  5! = 5 x 4 x 3 x 2 x 1 = 120)" data-placement="top">Factorial</button>
                </div>
            </div>

            <div class="row img-responsive">
                <div class="col-md-6 img-responsive">
                    <!-- Trigger the modal 3 with a button -->
                    <button type="button" class="btn btn-default btn-lg" id="myBtn3" style=" margin:10px; height: 300px; width: 500px;" data-toggle="popover" data-trigger="hover" data-backdrop="black" title="Operations" data-content="A program that accepts a series of 5 numbers from the user and performs the following actions:
                            Determine which number is the least.
                            Determine which number is the greatest.
                            Determine the mean of the numbers.
                            Determine the sum of all the numbers.
                            Determine the product of all the numbers." data-placement="top">
                        Operations
                    </button>
                </div>

                <div class="col-md-6 img-responsive">

                    <!-- Trigger the modal 4 with a button -->
                    <button type="button" class="btn btn-info btn-lg" id="myBtn4" style=" margin:10px; height: 300px; width: 500px;" title="Fizzbuzz" data-toggle="popover" data-trigger="hover" data-backdrop="black" data-content="A program that accepts two numbers between 1 and 100 from the user.
                            The program then iterates through all numbers from 1 to 100, printing numbers in ascending order to the screen. 
                            For each number that is a multiple of the first number input by the user, print Fizz instead of the number. 
                            For each number that is a multiple of the second number input by the user, print Buzz instead of the number. 
                            For numbers that are multiples of both numbers, print FizzBuzz instead of the number." data-placement="top">FizzBuzz</button>
                </div>

            </div>

            <div class="row img-responsive">
                <div class="col-md-6 img-responsive">
                    <!-- Trigger the modal 5 with a button -->
                    <button type="button" class="btn btn-danger btn-lg" id="myBtn5" title="Calculator" style=" margin:10px; height: 300px; width: 500px;" data-toggle="popover" data-trigger="hover" data-backdrop="black" data-content="A Basic Calculator that accepts user inputed numbers and processes the operations, finally displays the evaluated total." data-placement="top">Calculator</button>
                </div>
                <div class="col-md-6 img-responsive">
                    <!-- Trigger the modal 6 with a button -->
                    <button type="button" class="btn btn-secondary btn-lg" id="myBtn6" title="Incrementing By 1" style=" color:#f5f5f5;margin:10px; height: 300px; width: 500px;" data-toggle="popover" data-trigger="hover" data-backdrop="black" data-content="Display all the numbers starting from 0 to one of the user’s input value(included) incrementing by 1. " data-placement="top">Incrementing By 1</button>
                </div>
            </div>

        </div>




        <!-- Modal1 content -->

        <div class="modal fade" id="myModal10" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  
                    <div class="modal-header" style="background-color:#c63d00;color:white">
                        <h4 class="modal-title">Palindrome</h4>
                    </div>
                    <div class="modal-body" >


                        Enter a word to check for a Palindrome!: <input type="text" id="str" name="input" /><br />
                        <input type="submit" class="btn btn-primary"  value="Check" onclick="Palindrome();" />
                        <div>&nbsp; <span id="Palindrometest" style="font-size:20px"></span></div>
                     
                            <pre class="brush:js">
function Palindrome() {
var input = document.getElementById('str').value;
var changeCharacter = input.replace(/[^A-Z0-9]/i, "").toLowerCase();
var reverseWord = changeCharacter.split('').reverse().join('');
if (changeCharacter === reverseWord) {
result = "This is a Palindrome!";} 
else {
result = "This is not a Palindrome.";
}
document.getElementById("Palindrometest").innerHTML = result;

            
}
</pre>
                        </div>
                    


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="myBtn10" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
      





        <!-- Modal2 -->
        
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                
                        <div class="modal-header"  style="background-color:#1700ae;color:white">
                            <h4 class="modal-title">Find A Factorial</h4>
                        </div>
                       
                            
                                <div class="modal-body">

                                    <input type="number" id="num7" />
                                    <br />
                                    <button type="button" class="btn btn-primary" onclick="findfactorial()">Execute</button>
                                    <br />
                                    <div>The factorial of this number is <span id="factorialresult"></span>.</div>
                                    <br />

                                
                            
                            
                                
                                    <pre class="brush:js">
                                    
function findfactorial() {
var result = 1;
var inputval = Number(document.getElementById("num7").value)
for (x = 1; x <= inputval; x++) {
result = x * result;
}
document.getElementById("factorialresult").innerHTML = result;
}

</pre>

                                
                            </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                </div>

        <!-- Modal 3 content -->

        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
         
                    <div class="modal-header"  style="background-color:#ff0000;color:white">
                        <h4 class="modal-title">Operations</h4>
                    </div>

                    <div class="modal-body">
                        
                        <input type="number" id="num1" style="padding:4px" /> <br />

                        <input type="number" id="num2" style="padding:4px"  /><br/>

                        <input type="number" id="num5" style="padding:4px" /><br />
                        <input type="number" id="num3" style="padding:4px"  /><br />
                        <input type="number" id="num4" style="padding:4px"  />
                 
   
              
                        <br />



                        <button type="button" class="btn btn-primary pull-right " onclick="findhighest(); findlowest(); mean(); sum(); product();" style="padding:15px" >Lets Crunch Those Numbers </button>
                 

                        <div>1. The highest number is <span id="result"></span></div>

                        <br />
                        <div>2. The lowest Number is <span id="result2"></span></div>
                        <br />
                        <div>3.The mean is <span id="result3"></span></div>
                        <br />
                        <div>4.The sum is <span id="result4"></span></div>
                        <br />
                        <div>4.The product is <span id="result5"></span></div>



                        <pre class="brush:js">
var firstnumber;
var secondnumber;
var thirdnumber;
var fourthnumber;
var fifthnumber;

function retrievenumbers() {
firstnumber = Number(document.getElementById("num1").value);
secondnumber = Number(document.getElementById("num2").value);
thirdnumber = Number(document.getElementById("num3").value);
fourthnumber = Number(document.getElementById("num4").value);
fifthnumber = Number(document.getElementById("num5").value);
}
function findhighest() {
retrievenumbers();

document.getElementById("result").innerHTML = Math.max(firstnumber, secondnumber, thirdnumber, fourthnumber, fifthnumber);
}

function findlowest() {
retrievenumbers();

document.getElementById("result2").innerHTML = Math.min(firstnumber, secondnumber, thirdnumber, fourthnumber, fifthnumber);

}

function mean() {
retrievenumbers()

document.getElementById("result3").innerHTML = ((firstnumber + secondnumber + thirdnumber + fourthnumber + fifthnumber) / 5);

}

function sum() {
retrievenumbers()

document.getElementById("result4").innerHTML = (firstnumber + secondnumber + thirdnumber + fourthnumber + fifthnumber)
}

function product() {
retrievenumbers()

document.getElementById("result5").innerHTML = (firstnumber * secondnumber * thirdnumber * fourthnumber * fifthnumber)
 }
     

</pre>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal4 -->

        <div class="modal fade" id="myModal4" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  
                    <div class="modal-header"  style="background-color:#0094ff;color:white">
                        <h4 class="modal-title">FizzBuzz</h4>
                    </div>
                   
                        <div class="modal-body">

                            <input type="number" placeholder="first number" id="num8" />
                            <input type="number" placeholder="second number" id="num9" />
                            <button class="btn btn-danger" onclick="fizzbuzz()">Execute</button>
                            <div id="fizzbuzzresult">fizzbuzz will go here</div>

                            <pre class="brush:js">
                                    
function fizzbuzz() {
var firstnumber = Number(document.getElementById("num8").value);
var secondnumber = Number(document.getElementById("num9").value);
var result = " "
for (x = 1; x <= 100; x++) {

if (x % firstnumber == 0 && x % secondnumber == 0) {
result += " " + "fizzbuzz"
}
else if (x % firstnumber == 0) {
result += " " + "fizz";
}
else if (x % secondnumber == 0) {
result += " " + "buzz"
}
else {
result += " " + x
}
}
document.getElementById("fizzbuzzresult").innerHTML = result;
}
</pre>
                        </div>
               


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal5 -->

        <div class="modal fade" id="myModal5" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
             
                    <div class="modal-header"  style="background-color:#ff3e3e;color:white">
                        <h4 class="modal-title">Calculator</h4>
                    </div>
                    <div class="modal-body">
                        <form name=calcform>
                            <div class="container" style="width:350px;height:350px;font-size:24px;border:solid;border-width:2px;background-color:lightgray;margin-top:90px;">
                                <div class="row">
                                    <input class="col-md-12" type=text name=txt1 style="text-align:right"><br />
                                    <br />
                                </div>
                                <div class="row">
                                    <input class="col-md-3" type=button name=btn9 value="9" onclick="displynum(btn9.value)">
                                    <input class="col-md-3" type=button name=btn8 value="8" onclick="displynum(btn8.value)">
                                    <input class="col-md-3" type=button name=btn7 value="7" onclick="displynum(btn7.value)">
                                    <input class="col-md-3" type=button name=addbtn value="+" onclick="displynum(addbtn.value)">
                                    <br />
                                </div>
                                <div class="row">
                                    <input class="col-md-3" type=button name=btn6 value="6" onclick="displynum(btn6.value)">
                                    <input class="col-md-3" type=button name=btn5 value="5" onclick="displynum(btn5.value)">
                                    <input class="col-md-3" type=button name=btn4 value="4" onclick="displynum(btn4.value)">
                                    <input class="col-md-3" type=button name=subbtn value="-" onclick="displynum(subbtn.value)">
                                    <br />
                                </div>
                                <div class="row">
                                    <input class="col-md-3" type=button name=btn3 value="3" onclick="displynum(btn3.value)">
                                    <input class="col-md-3" type=button name=btn2 value="2" onclick="displynum(btn2.value)">
                                    <input class="col-md-3" type=button name=btn1 value="1" onclick="displynum(btn1.value)">
                                    <input class="col-md-3" type=button name=btnmul value="*" onclick="displynum(btnmul.value)">
                                    <br />
                                </div>
                                <div class="row">
                                    <input class="col-md-3" type=button name=btn0 value="0" onclick="displynum(btn0.value)">
                                    <input class="col-md-3" type=button name=potbtn value="." onclick="displynum(potbtn.value)">
                                    <input class="col-md-3" type=button name=eqlbtn value="=" style="background-color:blue;color:white" onclick="txt1.value=eval(txt1.value)">
                                    <input class="col-md-3" type=button name=divbtn value="/" onclick="displynum(divbtn.value)">
                                </div>
                                <div class="row">
                                    <input class="col-md-12" type=button name=btnclear value="C" onclick="txt1.value = eval(null)">

                                </div>
                            </div>
                        </form>
                        <pre class="brush:js">
function displynum(n1) {
            calcform.txt1.value = calcform.txt1.value + n1;
        }
</pre>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Modal6 -->
        
            <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header"  style="background-color:#017600;color:white">
                            <h4 class="modal-title"> Incrementing by 1  </h4>
                        </div>
                     
                                <div class="modal-body">
                                    @*Display all the numbers starting from 0 to one of the user’s input value(included) incrementing by 1*@
                                    <input type="number" id="num10" placeholder="Enter number here" /><br />
                                    <br />
                                    <button type="button" class="btn btn-info" onclick="c()"> Run It!</button>
                                    <br />
                                    <div id="result10" style="font-size:19px">Lets Count It Out!</div>

                                    <pre class="brush:js">
                                    
function c() {
var firstnumber = (document.getElementById("num1").value);
var final = ""
for (x = 0; x <= firstnumber; x++) {
final += " " + x     
}
document.getElementById("result3"). innerHTML = final 
}

</pre>

                               
                            </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
           </div>
                
       


    </section>


    <footer style="background-color:#000000">

        <section id="contact" class="content-section text-center">
            <div class="contact-section">
                <div class="container" style="color:#f5f5f5;background-color:#0094ff">
                    
                    <h2>Please Feel Free To Contact Me! </h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="exampleInputName2">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputText">Your Message</label>
                                    <textarea class="form-control" placeholder="Description"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </form>
                            <hr>
                            <h3>My Social Sites</h3>
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="https://www.linkedin.com/in/garrett-lance-28765814a/" target="_blank">
                                        <i class="fa fa-linkedin fa-fw fa-3x" style="color:#f5f5f5"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Glance16540" target="_blank">
                                        <i class="fa fa-github fa-fw fa-3x" style="color:#f5f5f5;"></i>
                                    </a>
                                </li>


                            </ul>

                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </section>







        <a id="to-top" href="#top" class="btn btn-default btn-lg js-scroll-trigger">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>





        <div style="color:#f5f5f5;">
            <br />
            <p class="text-center">Copyright &copy; Garrett Lance 2017</p>
        </div>

    </footer>




    <!-- Bootstrap core JavaScript -->
    <script src="~/Assets/vendor/jquery/jquery.js"></script>
    <script src="~/Assets/vendor/popper/popper.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Assets/js/stylish-portfolio.js"></script>

    <script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script>

        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: 4000
            });

            var clickEvent = false;
            $('#myCarousel').on('click', '.nav a', function () {
                clickEvent = true;
                $('.nav li').removeClass('active');
                $(this).parent().addClass('active');
            }).on('slid.bs.carousel', function (e) {
                if (!clickEvent) {
                    var count = $('.nav').children().length - 1;
                    var current = $('.nav li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if (count == id) {
                        $('.nav li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        });
        (function (a) { if (typeof define === "function" && define.amd && define.amd.jQuery) { define(["jquery"], a) } else { if (typeof module !== "undefined" && module.exports) { a(require("jquery")) } else { a(jQuery) } } }(function (f) { var y = "1.6.15", p = "left", o = "right", e = "up", x = "down", c = "in", A = "out", m = "none", s = "auto", l = "swipe", t = "pinch", B = "tap", j = "doubletap", b = "longtap", z = "hold", E = "horizontal", u = "vertical", i = "all", r = 10, g = "start", k = "move", h = "end", q = "cancel", a = "ontouchstart" in window, v = window.navigator.msPointerEnabled && !window.navigator.pointerEnabled && !a, d = (window.navigator.pointerEnabled || window.navigator.msPointerEnabled) && !a, C = "TouchSwipe"; var n = { fingers: 1, threshold: 75, cancelThreshold: null, pinchThreshold: 20, maxTimeThreshold: null, fingerReleaseThreshold: 250, longTapThreshold: 500, doubleTapThreshold: 200, swipe: null, swipeLeft: null, swipeRight: null, swipeUp: null, swipeDown: null, swipeStatus: null, pinchIn: null, pinchOut: null, pinchStatus: null, click: null, tap: null, doubleTap: null, longTap: null, hold: null, triggerOnTouchEnd: true, triggerOnTouchLeave: false, allowPageScroll: "auto", fallbackToMouseEvents: true, excludedElements: "label, button, input, select, textarea, a, .noSwipe", preventDefaultEvents: true }; f.fn.swipe = function (H) { var G = f(this), F = G.data(C); if (F && typeof H === "string") { if (F[H]) { return F[H].apply(this, Array.prototype.slice.call(arguments, 1)) } else { f.error("Method " + H + " does not exist on jQuery.swipe") } } else { if (F && typeof H === "object") { F.option.apply(this, arguments) } else { if (!F && (typeof H === "object" || !H)) { return w.apply(this, arguments) } } } return G }; f.fn.swipe.version = y; f.fn.swipe.defaults = n; f.fn.swipe.phases = { PHASE_START: g, PHASE_MOVE: k, PHASE_END: h, PHASE_CANCEL: q }; f.fn.swipe.directions = { LEFT: p, RIGHT: o, UP: e, DOWN: x, IN: c, OUT: A }; f.fn.swipe.pageScroll = { NONE: m, HORIZONTAL: E, VERTICAL: u, AUTO: s }; f.fn.swipe.fingers = { ONE: 1, TWO: 2, THREE: 3, FOUR: 4, FIVE: 5, ALL: i }; function w(F) { if (F && (F.allowPageScroll === undefined && (F.swipe !== undefined || F.swipeStatus !== undefined))) { F.allowPageScroll = m } if (F.click !== undefined && F.tap === undefined) { F.tap = F.click } if (!F) { F = {} } F = f.extend({}, f.fn.swipe.defaults, F); return this.each(function () { var H = f(this); var G = H.data(C); if (!G) { G = new D(this, F); H.data(C, G) } }) } function D(a5, au) { var au = f.extend({}, au); var az = (a || d || !au.fallbackToMouseEvents), K = az ? (d ? (v ? "MSPointerDown" : "pointerdown") : "touchstart") : "mousedown", ax = az ? (d ? (v ? "MSPointerMove" : "pointermove") : "touchmove") : "mousemove", V = az ? (d ? (v ? "MSPointerUp" : "pointerup") : "touchend") : "mouseup", T = az ? (d ? "mouseleave" : null) : "mouseleave", aD = (d ? (v ? "MSPointerCancel" : "pointercancel") : "touchcancel"); var ag = 0, aP = null, a2 = null, ac = 0, a1 = 0, aZ = 0, H = 1, ap = 0, aJ = 0, N = null; var aR = f(a5); var aa = "start"; var X = 0; var aQ = {}; var U = 0, a3 = 0, a6 = 0, ay = 0, O = 0; var aW = null, af = null; try { aR.bind(K, aN); aR.bind(aD, ba) } catch (aj) { f.error("events not supported " + K + "," + aD + " on jQuery.swipe") } this.enable = function () { aR.bind(K, aN); aR.bind(aD, ba); return aR }; this.disable = function () { aK(); return aR }; this.destroy = function () { aK(); aR.data(C, null); aR = null }; this.option = function (bd, bc) { if (typeof bd === "object") { au = f.extend(au, bd) } else { if (au[bd] !== undefined) { if (bc === undefined) { return au[bd] } else { au[bd] = bc } } else { if (!bd) { return au } else { f.error("Option " + bd + " does not exist on jQuery.swipe.options") } } } return null }; function aN(be) { if (aB()) { return } if (f(be.target).closest(au.excludedElements, aR).length > 0) { return } var bf = be.originalEvent ? be.originalEvent : be; var bd, bg = bf.touches, bc = bg ? bg[0] : bf; aa = g; if (bg) { X = bg.length } else { if (au.preventDefaultEvents !== false) { be.preventDefault() } } ag = 0; aP = null; a2 = null; aJ = null; ac = 0; a1 = 0; aZ = 0; H = 1; ap = 0; N = ab(); S(); ai(0, bc); if (!bg || (X === au.fingers || au.fingers === i) || aX()) { U = ar(); if (X == 2) { ai(1, bg[1]); a1 = aZ = at(aQ[0].start, aQ[1].start) } if (au.swipeStatus || au.pinchStatus) { bd = P(bf, aa) } } else { bd = false } if (bd === false) { aa = q; P(bf, aa); return bd } else { if (au.hold) { af = setTimeout(f.proxy(function () { aR.trigger("hold", [bf.target]); if (au.hold) { bd = au.hold.call(aR, bf, bf.target) } }, this), au.longTapThreshold) } an(true) } return null } function a4(bf) { var bi = bf.originalEvent ? bf.originalEvent : bf; if (aa === h || aa === q || al()) { return } var be, bj = bi.touches, bd = bj ? bj[0] : bi; var bg = aH(bd); a3 = ar(); if (bj) { X = bj.length } if (au.hold) { clearTimeout(af) } aa = k; if (X == 2) { if (a1 == 0) { ai(1, bj[1]); a1 = aZ = at(aQ[0].start, aQ[1].start) } else { aH(bj[1]); aZ = at(aQ[0].end, aQ[1].end); aJ = aq(aQ[0].end, aQ[1].end) } H = a8(a1, aZ); ap = Math.abs(a1 - aZ) } if ((X === au.fingers || au.fingers === i) || !bj || aX()) { aP = aL(bg.start, bg.end); a2 = aL(bg.last, bg.end); ak(bf, a2); ag = aS(bg.start, bg.end); ac = aM(); aI(aP, ag); be = P(bi, aa); if (!au.triggerOnTouchEnd || au.triggerOnTouchLeave) { var bc = true; if (au.triggerOnTouchLeave) { var bh = aY(this); bc = F(bg.end, bh) } if (!au.triggerOnTouchEnd && bc) { aa = aC(k) } else { if (au.triggerOnTouchLeave && !bc) { aa = aC(h) } } if (aa == q || aa == h) { P(bi, aa) } } } else { aa = q; P(bi, aa) } if (be === false) { aa = q; P(bi, aa) } } function M(bc) { var bd = bc.originalEvent ? bc.originalEvent : bc, be = bd.touches; if (be) { if (be.length && !al()) { G(bd); return true } else { if (be.length && al()) { return true } } } if (al()) { X = ay } a3 = ar(); ac = aM(); if (bb() || !am()) { aa = q; P(bd, aa) } else { if (au.triggerOnTouchEnd || (au.triggerOnTouchEnd == false && aa === k)) { if (au.preventDefaultEvents !== false) { bc.preventDefault() } aa = h; P(bd, aa) } else { if (!au.triggerOnTouchEnd && a7()) { aa = h; aF(bd, aa, B) } else { if (aa === k) { aa = q; P(bd, aa) } } } } an(false); return null } function ba() { X = 0; a3 = 0; U = 0; a1 = 0; aZ = 0; H = 1; S(); an(false) } function L(bc) { var bd = bc.originalEvent ? bc.originalEvent : bc; if (au.triggerOnTouchLeave) { aa = aC(h); P(bd, aa) } } function aK() { aR.unbind(K, aN); aR.unbind(aD, ba); aR.unbind(ax, a4); aR.unbind(V, M); if (T) { aR.unbind(T, L) } an(false) } function aC(bg) { var bf = bg; var be = aA(); var bd = am(); var bc = bb(); if (!be || bc) { bf = q } else { if (bd && bg == k && (!au.triggerOnTouchEnd || au.triggerOnTouchLeave)) { bf = h } else { if (!bd && bg == h && au.triggerOnTouchLeave) { bf = q } } } return bf } function P(be, bc) { var bd, bf = be.touches; if (J() || W()) { bd = aF(be, bc, l) } if ((Q() || aX()) && bd !== false) { bd = aF(be, bc, t) } if (aG() && bd !== false) { bd = aF(be, bc, j) } else { if (ao() && bd !== false) { bd = aF(be, bc, b) } else { if (ah() && bd !== false) { bd = aF(be, bc, B) } } } if (bc === q) { if (W()) { bd = aF(be, bc, l) } if (aX()) { bd = aF(be, bc, t) } ba(be) } if (bc === h) { if (bf) { if (!bf.length) { ba(be) } } else { ba(be) } } return bd } function aF(bf, bc, be) { var bd; if (be == l) { aR.trigger("swipeStatus", [bc, aP || null, ag || 0, ac || 0, X, aQ, a2]); if (au.swipeStatus) { bd = au.swipeStatus.call(aR, bf, bc, aP || null, ag || 0, ac || 0, X, aQ, a2); if (bd === false) { return false } } if (bc == h && aV()) { clearTimeout(aW); clearTimeout(af); aR.trigger("swipe", [aP, ag, ac, X, aQ, a2]); if (au.swipe) { bd = au.swipe.call(aR, bf, aP, ag, ac, X, aQ, a2); if (bd === false) { return false } } switch (aP) { case p: aR.trigger("swipeLeft", [aP, ag, ac, X, aQ, a2]); if (au.swipeLeft) { bd = au.swipeLeft.call(aR, bf, aP, ag, ac, X, aQ, a2) } break; case o: aR.trigger("swipeRight", [aP, ag, ac, X, aQ, a2]); if (au.swipeRight) { bd = au.swipeRight.call(aR, bf, aP, ag, ac, X, aQ, a2) } break; case e: aR.trigger("swipeUp", [aP, ag, ac, X, aQ, a2]); if (au.swipeUp) { bd = au.swipeUp.call(aR, bf, aP, ag, ac, X, aQ, a2) } break; case x: aR.trigger("swipeDown", [aP, ag, ac, X, aQ, a2]); if (au.swipeDown) { bd = au.swipeDown.call(aR, bf, aP, ag, ac, X, aQ, a2) } break } } } if (be == t) { aR.trigger("pinchStatus", [bc, aJ || null, ap || 0, ac || 0, X, H, aQ]); if (au.pinchStatus) { bd = au.pinchStatus.call(aR, bf, bc, aJ || null, ap || 0, ac || 0, X, H, aQ); if (bd === false) { return false } } if (bc == h && a9()) { switch (aJ) { case c: aR.trigger("pinchIn", [aJ || null, ap || 0, ac || 0, X, H, aQ]); if (au.pinchIn) { bd = au.pinchIn.call(aR, bf, aJ || null, ap || 0, ac || 0, X, H, aQ) } break; case A: aR.trigger("pinchOut", [aJ || null, ap || 0, ac || 0, X, H, aQ]); if (au.pinchOut) { bd = au.pinchOut.call(aR, bf, aJ || null, ap || 0, ac || 0, X, H, aQ) } break } } } if (be == B) { if (bc === q || bc === h) { clearTimeout(aW); clearTimeout(af); if (Z() && !I()) { O = ar(); aW = setTimeout(f.proxy(function () { O = null; aR.trigger("tap", [bf.target]); if (au.tap) { bd = au.tap.call(aR, bf, bf.target) } }, this), au.doubleTapThreshold) } else { O = null; aR.trigger("tap", [bf.target]); if (au.tap) { bd = au.tap.call(aR, bf, bf.target) } } } } else { if (be == j) { if (bc === q || bc === h) { clearTimeout(aW); clearTimeout(af); O = null; aR.trigger("doubletap", [bf.target]); if (au.doubleTap) { bd = au.doubleTap.call(aR, bf, bf.target) } } } else { if (be == b) { if (bc === q || bc === h) { clearTimeout(aW); O = null; aR.trigger("longtap", [bf.target]); if (au.longTap) { bd = au.longTap.call(aR, bf, bf.target) } } } } } return bd } function am() { var bc = true; if (au.threshold !== null) { bc = ag >= au.threshold } return bc } function bb() { var bc = false; if (au.cancelThreshold !== null && aP !== null) { bc = (aT(aP) - ag) >= au.cancelThreshold } return bc } function ae() { if (au.pinchThreshold !== null) { return ap >= au.pinchThreshold } return true } function aA() { var bc; if (au.maxTimeThreshold) { if (ac >= au.maxTimeThreshold) { bc = false } else { bc = true } } else { bc = true } return bc } function ak(bc, bd) { if (au.preventDefaultEvents === false) { return } if (au.allowPageScroll === m) { bc.preventDefault() } else { var be = au.allowPageScroll === s; switch (bd) { case p: if ((au.swipeLeft && be) || (!be && au.allowPageScroll != E)) { bc.preventDefault() } break; case o: if ((au.swipeRight && be) || (!be && au.allowPageScroll != E)) { bc.preventDefault() } break; case e: if ((au.swipeUp && be) || (!be && au.allowPageScroll != u)) { bc.preventDefault() } break; case x: if ((au.swipeDown && be) || (!be && au.allowPageScroll != u)) { bc.preventDefault() } break } } } function a9() { var bd = aO(); var bc = Y(); var be = ae(); return bd && bc && be } function aX() { return !!(au.pinchStatus || au.pinchIn || au.pinchOut) } function Q() { return !!(a9() && aX()) } function aV() { var bf = aA(); var bh = am(); var be = aO(); var bc = Y(); var bd = bb(); var bg = !bd && bc && be && bh && bf; return bg } function W() { return !!(au.swipe || au.swipeStatus || au.swipeLeft || au.swipeRight || au.swipeUp || au.swipeDown) } function J() { return !!(aV() && W()) } function aO() { return ((X === au.fingers || au.fingers === i) || !a) } function Y() { return aQ[0].end.x !== 0 } function a7() { return !!(au.tap) } function Z() { return !!(au.doubleTap) } function aU() { return !!(au.longTap) } function R() { if (O == null) { return false } var bc = ar(); return (Z() && ((bc - O) <= au.doubleTapThreshold)) } function I() { return R() } function aw() { return ((X === 1 || !a) && (isNaN(ag) || ag < au.threshold)) } function a0() { return ((ac > au.longTapThreshold) && (ag < r)) } function ah() { return !!(aw() && a7()) } function aG() { return !!(R() && Z()) } function ao() { return !!(a0() && aU()) } function G(bc) { a6 = ar(); ay = bc.touches.length + 1 } function S() { a6 = 0; ay = 0 } function al() { var bc = false; if (a6) { var bd = ar() - a6; if (bd <= au.fingerReleaseThreshold) { bc = true } } return bc } function aB() { return !!(aR.data(C + "_intouch") === true) } function an(bc) { if (!aR) { return } if (bc === true) { aR.bind(ax, a4); aR.bind(V, M); if (T) { aR.bind(T, L) } } else { aR.unbind(ax, a4, false); aR.unbind(V, M, false); if (T) { aR.unbind(T, L, false) } } aR.data(C + "_intouch", bc === true) } function ai(be, bc) { var bd = { start: { x: 0, y: 0 }, last: { x: 0, y: 0 }, end: { x: 0, y: 0 } }; bd.start.x = bd.last.x = bd.end.x = bc.pageX || bc.clientX; bd.start.y = bd.last.y = bd.end.y = bc.pageY || bc.clientY; aQ[be] = bd; return bd } function aH(bc) { var be = bc.identifier !== undefined ? bc.identifier : 0; var bd = ad(be); if (bd === null) { bd = ai(be, bc) } bd.last.x = bd.end.x; bd.last.y = bd.end.y; bd.end.x = bc.pageX || bc.clientX; bd.end.y = bc.pageY || bc.clientY; return bd } function ad(bc) { return aQ[bc] || null } function aI(bc, bd) { bd = Math.max(bd, aT(bc)); N[bc].distance = bd } function aT(bc) { if (N[bc]) { return N[bc].distance } return undefined } function ab() { var bc = {}; bc[p] = av(p); bc[o] = av(o); bc[e] = av(e); bc[x] = av(x); return bc } function av(bc) { return { direction: bc, distance: 0 } } function aM() { return a3 - U } function at(bf, be) { var bd = Math.abs(bf.x - be.x); var bc = Math.abs(bf.y - be.y); return Math.round(Math.sqrt(bd * bd + bc * bc)) } function a8(bc, bd) { var be = (bd / bc) * 1; return be.toFixed(2) } function aq() { if (H < 1) { return A } else { return c } } function aS(bd, bc) { return Math.round(Math.sqrt(Math.pow(bc.x - bd.x, 2) + Math.pow(bc.y - bd.y, 2))) } function aE(bf, bd) { var bc = bf.x - bd.x; var bh = bd.y - bf.y; var be = Math.atan2(bh, bc); var bg = Math.round(be * 180 / Math.PI); if (bg < 0) { bg = 360 - Math.abs(bg) } return bg } function aL(bd, bc) { var be = aE(bd, bc); if ((be <= 45) && (be >= 0)) { return p } else { if ((be <= 360) && (be >= 315)) { return p } else { if ((be >= 135) && (be <= 225)) { return o } else { if ((be > 45) && (be < 135)) { return x } else { return e } } } } } function ar() { var bc = new Date(); return bc.getTime() } function aY(bc) { bc = f(bc); var be = bc.offset(); var bd = { left: be.left, right: be.left + bc.outerWidth(), top: be.top, bottom: be.top + bc.outerHeight() }; return bd } function F(bc, bd) { return (bc.x > bd.left && bc.x < bd.right && bc.y > bd.top && bc.y < bd.bottom) } } })); !function (n) { "use strict"; n.fn.bsTouchSlider = function (i) { var a = n(".carousel"); return this.each(function () { function i(i) { var a = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend"; i.each(function () { var i = n(this), t = i.data("animation"); i.addClass(t).one(a, function () { i.removeClass(t) }) }) } var t = a.find(".item:first").find("[data-animation ^= 'animated']"); a.carousel(), i(t), a.on("slide.bs.carousel", function (a) { var t = n(a.relatedTarget).find("[data-animation ^= 'animated']"); i(t) }), n(".carousel .carousel-inner").swipe({ swipeLeft: function (n, i, a, t, e) { this.parent().carousel("next") }, swipeRight: function () { this.parent().carousel("prev") }, threshold: 0 }) }) } }(jQuery);
        $('#bootstrap-touch-slider').bsTouchSlider();
    </script>
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();

            });
        });
        $(document).ready(function () {
            $("#myBtn2").click(function () {
                $("#myModal2").modal();
            });
        });
        $(document).ready(function () {
            $("#myBtn3").click(function () {
                $("#myModal3").modal();
            });
        });
        $(document).ready(function () {
            $("#myBtn4").click(function () {
                $("#myModal4").modal();
            });
        });

        $(document).ready(function () {
            $("#myBtn5").click(function () {
                $("#myModal5").modal();
            });
        });
        $(document).ready(function () {
            $("#myBtn6").click(function () {
                $("#myModal6").modal();
            });
        });
        $(document).ready(function () {
            $("#myBtn10").click(function () {
                $("#myModal10").modal();
            });
        });
    </script>
        
        <script>

        function Palindrome() {
            var input = document.getElementById('str').value;
            var result = ""
            var changeCharacter = input.replace(/[^A-Z0-9]/i, "").toLowerCase();
            var reverseWord = changeCharacter.split('').reverse().join('');
            if (changeCharacter === reverseWord) {
                result = "This is a Palindrome!";
            } else {
                result = "This is not a Palindrome.";
            }
            document.getElementById("Palindrometest").innerHTML = result;

        }
    </script>
    <script>
       
        function findfactorial() {
            var result = 1;
            var inputval = Number(document.getElementById("num7").value)
            for (x = 1; x <= inputval; x++) {
                result = x * result;

            }
            document.getElementById("factorialresult").innerHTML = result;



        }
    </script>
    <script>
        var firstnumber;
        var secondnumber;
        var thirdnumber;
        var fourthnumber;
        var fifthnumber;



        function retrievenumbers() {
            firstnumber = Number(document.getElementById("num1").value);
            secondnumber = Number(document.getElementById("num2").value);
            thirdnumber = Number(document.getElementById("num3").value);
            fourthnumber = Number(document.getElementById("num4").value);
            fifthnumber = Number(document.getElementById("num5").value);
        }



        function findhighest() {
            retrievenumbers();

            document.getElementById("result").innerHTML = Math.max(firstnumber, secondnumber, thirdnumber, fourthnumber, fifthnumber);
        }

        function findlowest() {
            retrievenumbers();

            document.getElementById("result2").innerHTML = Math.min(firstnumber, secondnumber, thirdnumber, fourthnumber, fifthnumber);

        }

        function mean() {
            retrievenumbers()

            document.getElementById("result3").innerHTML = ((firstnumber + secondnumber + thirdnumber + fourthnumber + fifthnumber) / 5);

        }

        function sum() {
            retrievenumbers()

            document.getElementById("result4").innerHTML = (firstnumber + secondnumber + thirdnumber + fourthnumber + fifthnumber)

        }

        function product() {
            retrievenumbers()

            document.getElementById("result5").innerHTML = (firstnumber * secondnumber * thirdnumber * fourthnumber * fifthnumber)


        }

    </script>
    <script>
        function fizzbuzz() {
            var firstnumber = Number(document.getElementById("num8").value);
            var secondnumber = Number(document.getElementById("num9").value);
            var result = " "
            for (x = 1; x <= 100; x++) {

                if (x % firstnumber == 0 && x % secondnumber == 0) {
                    result += " " + "fizzbuzz"
                }
                else if (x % firstnumber == 0) {
                    result += " " + "fizz";
                }
                else if (x % secondnumber == 0) {
                    result += " " + "buzz"
                }

                else {
                    result += " " + x
                }
            }

            document.getElementById("fizzbuzzresult").innerHTML = result;

        }
        </script>
    <script>
        function displynum(n1) {
            calcform.txt1.value = calcform.txt1.value + n1;
        }
    </script>
    <script>
        //made by vipul mirajkar thevipulm.appspot.com
        var TxtType = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            var that = this;
            var delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            var elements = document.getElementsByClassName('typewrite');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);
        };

    </script>
    <script>
        function c() {
            var firstnumber = (document.getElementById("num10").value);
            var bob = ""
            for (x = 0; x <= firstnumber; x++) {

                bob += " " + x

            }

            document.getElementById("result10").innerHTML = bob
        }

    </script>
    <script>
     
        SyntaxHighlighter.all();

    </script>


    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

   
</body>
</html>
